<!doctype html>
<html>
<head>
  <title>Yelp Tool</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">
    <h1 class="page-header text-center">Yelp Tool</h1>
    <p class="jumbotron text-center">Check your console to see the responses from Yelp. When all IDs have responded, write the data to a CSV file.</p>
    <a href="/write"><button class="btn btn-default">Write</button></a>
  </div>
</body>
</html>
